.container .sidenav {
    background-color: #F8F9FA;
    width: 200px;       
    padding-top: 1em; 
}

.container .sidenav a{
    font-size: 14px;       
}

.container .sidenav a:hover{
    color: #0F7AE5;  
}

.container .sidenav i {
    padding-left: 10px;
    padding-right: 10px;
}

.container .content {
    padding: 20px;
    background-color: #EEEEEE;    
}

