<mat-toolbar class="header">

    <button mat-icon-button class="toggle">
        <mat-icon>menu</mat-icon>
    </button>

    <a class="logo" routerLink="/home">Home</a>

    <span class="spacer"></span>

    <nav *ngIf="currentUser">
        <a mat-icon-button style="margin-right: 1em;">
            {{currentUser.username}}
        </a>
        <a mat-icon-button style="margin-right: 1em;" (click)="logout()">
            sair
        </a>      
    </nav>

    <nav *ngIf="!currentUser">       
        <a mat-icon-button style="margin-right: 1em;" (click)="login()">
            login
        </a>      
    </nav>
    
</mat-toolbar>