<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onSidenavOpen()" class="toggle">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>perm_identity</mat-icon>
        {{currentUser.username}}
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>lock</mat-icon>
            Alterar senha
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>trending_flat</mat-icon>
            Sair
        </button>
    </mat-menu>

</mat-toolbar>