mat-card{
    width: 350px;
    height: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    padding-top: 1em;
}

mat-card-title {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 2em;
    font-size: 20px;
}

mat-form-field {
    width: 80%;
    display: block;
    margin-left:auto;
    margin-right:auto;  
}

.buttons {
    margin-top: 2em;
    width: 80%;
    display: block;
    margin-left:auto;
    margin-right:auto;  
}


button {
    margin: 20px 15px 0px 0px;
}


