<mat-card>
    <mat-card-title>Alterar Senha</mat-card-title>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password">
            <mat-error *ngIf="submitted && frm.password.invalid">
                <p>Informe a senha em uso</p>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nova Senha</mat-label>
            <input matInput formControlName="newPassword">
            <mat-error *ngIf="submitted && frm.newPassword.invalid">
                <p>Informe a nova senha</p>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirmação da Nova Senha</mat-label>
            <input matInput formControlName="newPasswordConfirm">
            <mat-error *ngIf="submitted && frm.confirmPassword.errors">
                <p *ngIf="frm.confirmPassword.errors.required">Informe a confirmação da senha!</p>
                <p *ngIf="frm.confirmPassword.errors.mustMatch">Senhas não conferem!</p>
            </mat-error>
        </mat-form-field>

        <br>

        <button type="submit" mat-raised-button class="button-add">
            Gravar
        </button>

    </form>
</mat-card>