<mat-card>
    <mat-card-title>Alterar Senha</mat-card-title>
  

    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(form, formDirective)">
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input type="password" name="password" matInput formControlName="password" >
            <mat-error *ngIf="submitted && frm.password.invalid">
                <p>Senha tem pelo menos 6 caracteres</p>
            </mat-error>            
        </mat-form-field>
       

        <mat-form-field>
            <mat-label>Nova Senha</mat-label>
            <input type="password" matInput formControlName="newPassword">
            <mat-error *ngIf="submitted && frm.newPassword.invalid">
                <p>Senha tem pelo menos 6 caracteres</p>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirmação da Nova Senha</mat-label>
            <input type="password" matInput formControlName="newPasswordConfirm">
            <mat-error *ngIf="submitted && frm.newPasswordConfirm.errors">
                <p *ngIf="frm.newPasswordConfirm.errors.required">Informe a confirmação da senha!</p>
                <p *ngIf="frm.newPasswordConfirm.errors.mustMatch">Senhas não conferem!</p>
            </mat-error>
        </mat-form-field>

        <br>

        <button type="submit" mat-raised-button class="button-add">
            Gravar
        </button>

    </form>
</mat-card>

